version: '2'

services:
  th_bi-front:
    container_name: tropical-hazards-front
    build: .
    command: /bin/bash -lc "npm install && npm run dev"
    volumes:
      - .:/TropicalHazards-BI-FrontEnd
    external_links:
      - 20181tropicalhazardsbi_default
    ports:
      - "8080:8080"
    networks:
      - default
      - 20181tropicalhazardsbi_default
    ipc: host # <---- Exempts explict call, remove if you want.

networks:
  20181tropicalhazardsbi_default:
    external: true
